<nav class="site-navbar navbar navbar-expand-lg navbar-dark">
    <div class="container">

        <a class="navbar-brand site-navbar-brand" href="{% url 'home' %}">
            <span class="site-navbar-logo">S</span>

            <span class="site-navbar-name">
                SkillStart
                <small>Ireland</small>
            </span>
        </a>

        <button
            class="navbar-toggler site-navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a
                        class="nav-link site-navbar-link
                        {% if request.resolver_match.url_name == 'home' %}
                            active
                        {% endif %}"
                        href="{% url 'home' %}"
                    >
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link site-navbar-link
                        {% if request.resolver_match.app_name == 'courses' %}
                            active
                        {% endif %}"
                        href="{% url 'courses:course_list' %}"
                    >
                        Courses
                    </a>
                </li>

                <li class="nav-item ms-lg-2">
                    <span
                        class="site-navbar-account disabled"
                        aria-disabled="true"
                        title="Account area coming soon"
                    >
                        Login
                    </span>
                </li>

            </ul>
        </div>

    </div>
</nav>